body {
  font-family: "Lato", sans-serif;

  background-color: #d4d3dd;
}

.App {
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  overflow: clip;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
}

nav h3 {
  flex: 4;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  letter-spacing: 2px;
}

nav button {
  box-sizing: border-box;
  flex: 1;
  max-width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.todo-view {
  padding: 30px 100px;
}

.todo-view .todo-add {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50px;
  margin: 60px 0px;
}

.todo-add input[type="text"] {
  flex: 3;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  padding: 0px 10px;
}
.todo-add input[type="text"]::placeholder {
  opacity: 0.7;
  font-size: 14px;
  font-weight: 300;
}

.todo-add button {
  flex: 1;
  max-width: 160px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list .todo-item {
  margin-left: 0;
  margin-bottom: 20px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;

  font-size: 18px;
  word-break: break-all;
}
.todo-list .todo-item.todo-done {
  opacity: 0.5;
  position: relative;
}

.todo-list .todo-item.todo-done::after {
  content: "";
  position: absolute;
  left: -10px;
  display: flex;
  width: calc(100% + 20px);
  height: 3px;
  background-color: red;
  z-index: 2;
  opacity: 1;
}

.todo-item .todo-actions :first-child {
  margin-right: 4px;
}

.todo-actions button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: unset;
  font-size: 22px;

  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .App {
    margin-top: 30px;
  }
  .todo-view {
    padding: 30px;
  }

  .todo-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .todo-add * {
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
    max-width: unset !important;
    margin: 4px 10px;
  }
}
